<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка с аккаунтон</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<form method="post" action="../">
    {% csrf_token %}
    <h3>Такой аккаунт уже существует</h3>
    <input type="submit" value="Перейти обратно к главной">
</form>
</body>
</html>

<script>
    body{
            font-family: "Times New Roman";
            font-size: 15px;
            text-align: center;
        }

    .book-button {
            position: absolute;
            top: 0;
            right: -120px;
            padding: 8px 16px;
            background-color: #8eaa95;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }


</script>